body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

.container {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

h1 {
  text-align: center;
}

.search-box {
  display: flex;
  justify-content: center;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  font-size: 16px;
  padding: 20px;
  width: 70%;
  border-radius: 6px;
  margin-right: 5px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #004a2f;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}

main {
  padding: 30px 0;
}

.current-temperature {
  font-size: 48px;
}

.current-conditions-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.current-city-info {
  flex: 1;
  margin-top: 20px;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0 0 10px 0;
}
.current-conditions-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.current-conditions-details strong {
  color: #ff6337;
}

.current-temperature-icon {
  position: relative;
  margin-right: 10px;
  top: 15px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -45px;
}

.weather-forecast-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.forecast-day {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.forecast-emoji {
  text-align: center;
  margin-top: 10px;
}

.forecast-range {
  color: #ff6337;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.forecast-range-high {
  padding: 0 10px;
}

.forecast-range-low {
  padding: 0 10px;
}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
}

a {
  color: #004a2f;
}
